<html>
	<head>
		
		
	</head>
	<body>
		article id: <%= data[0].id %><br>
		address: <%= data[0].address %><br>
		major: <%= data[0].major %><br>
		interests: <%= data[0].interests %><br>
		
	</body>
</html>