<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	  <link rel="shortcut icon" href="assets/images/favicon.ico">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Teampool-Just play and work with Teampool!">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/avatar/teamPool.png">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="assets/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	
	<meta name ="google-signin-client_id" content="110133211517-0tcasjepokc7q5mm1hki32ljk52vtkcf.apps.googleusercontent.com">
	<!-- <script>      
	   $(document).ready(function () {//1. 페이지가 실행되면
			 $('#btn').click(function () {
				 console.log("trest");
				 let user_id = $('#userId').val();
				 let password = $('#password').val();
				let user_data={'user_id':user_id, 'pw':password}
				console.log(user_id,"유저아이디는?");
				
			 });

		});

	</script> -->
  </head>
  <body>
    <h1> Login </h1>
	<form action="/" method="POST">
	   USER <input type="text" name="username" id = 'userId'>
	   PASSWORD <input type="password" name="password" id = 'password'>
	   <button type="submit"> Submit </button>
	</form>
  </body>
</html>