<!DOCTYPE html>
<html lang="en">
<head>
	<title>원하는 인재를 찾아보세요!</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Teampool-Just play and work with Teampool!">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/avatar/teamPool.png">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="assets/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
			$(document).ready(function(){
    		
    			console.log('start');
  				$('#btnJoin').click(function(){
					$('.warning').text('');
				if ($('#exampleInputEmail1').val())
					{
						$('#warning1').text('메일을 보냈습니다. 메일함을 확인해주세요! ');
					}
					
					else{
						$('#warning2').text('비밀번호를 찾으시려면 메일을 입력해주세요!');
					}
				});
			});
		
	</script>

</head>

<body>

<!-- **************** MAIN CONTENT START **************** -->
<main>
	<section class="p-0 d-flex align-items-center position-relative overflow-hidden">
	
		<div class="container-fluid">
			<div class="row">
				<!-- left -->
				<div class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
					<div class="p-3 p-lg-5">
						<!-- Title -->
						<div class="text-center">
							<h2 class="fw-bold">원하는 프로젝트를 찾고
팀원들을 구해보세요</h2>
							<p class="mb-0 h6 fw-light">팀원들이 기다리고 있어요!</p>
						</div>
						<!-- SVG Image -->
						<img src="assets/images/element/02.svg" class="mt-5" alt="">
						<!-- Info -->
						<div class="d-sm-flex mt-5 align-items-center justify-content-center">
							<ul class="avatar-group mb-2 mb-sm-0">
								<li class="avatar avatar-sm">
									<img class="avatar-img rounded-circle" src="assets/images/avatar/profile1.png" alt="avatar">
								</li>
								<li class="avatar avatar-sm">
									<img class="avatar-img rounded-circle" src="assets/images/avatar/profile2.png" alt="avatar">
								</li>
								<li class="avatar avatar-sm">
									<img class="avatar-img rounded-circle" src="assets/images/avatar/profile3.png" alt="avatar">
								</li>
								<li class="avatar avatar-sm">
									<img class="avatar-img rounded-circle" src="assets/images/avatar/profile4.png" alt="avatar">
								</li>
							</ul>
							<!-- Content -->
							<p class="mb-0 h6 fw-light ms-0 ms-sm-3">이미 3천명의 인원이 함께하고 있어요! 당신 차례에요!</p>
						</div>
					</div>
				</div>
				<!-- Right -->
				<div class="col-12 col-lg-6 d-flex justify-content-center">
					<div class="row my-5">
						<div class="col-sm-10 col-xl-12 m-auto">

              <!-- Title -->
							<span class="mb-0 fs-1">🤔</span>
							<h1 class="fs-2">비밀번호 찾기</h1>
							<h5 class="fw-light mb-4">가입한 아이디를 입력하세요.</h5>
							
							<!-- Form START -->
							<form>
								<!-- Email -->
								<div class="mb-4">
									<label for="exampleInputEmail1" class="form-label">아이디 *</label>
									<div class="input-group input-group-lg">
										<span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="bi bi-envelope-fill"></i></span>
										<input type="email" class="form-control border-0 bg-light rounded-end ps-1" placeholder="E-mail" id="exampleInputEmail1">
									</div>
								</div>
								<!-- Button -->
								<div class="align-items-center">
									<div class="d-grid">
										<button class="btn btn-primary mb-0" type="button" id="btnJoin">비밀번호 찾기 메일보내기</button>
										
										
										
										<div id="warning1" class="warning text-danger"></div>
										<div id="warning2" class="warning text-danger"></div>
										
										<a href="login" class="btn btn-info mb-0" type="button">로그인페이지 가기</a>
										
									</div>
								</div>	
							</form>
							<!-- Form END -->
						</div>
					</div> <!-- Row END -->
				</div>
			</div> <!-- Row END -->
		</div>
	</section>

	
</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>