<!DOCTYPE html>
<html lang="en">

<head>
	<title>Eduport - LMS, Education and Course Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Teampool-Just play and work with Teampool!">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/avatar/teamPool.png">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/aos/aos.css">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>


	<!-- Header START -->
	<header class="navbar-light navbar-sticky">
		<!-- Logo Nav START -->
		<nav class="navbar navbar-expand-xl">
			<div class="container">
				<!-- Logo START -->
				<a class="navbar-brand" href="main_page.html">
					<img class="light-mode-item navbar-brand-item" src="assets/images/avatar/teamPool.png" alt="logo">
					<img class="dark-mode-item navbar-brand-item" src="assets/images/avatar/teamPool.png" alt="logo">
				</a>
				<!-- Logo END -->

				<!-- Responsive navbar toggler -->
				<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-animation">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</button>

				<!-- Main navbar START -->
				<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

					<!-- Nav Main menu START -->
					<ul class="navbar-nav navbar-nav-scroll mx-auto">
					</ul>
					<!-- Nav Main menu END -->

					<!-- Top bar right START -->
					<div class="ms-xl-auto">
						<ul class="navbar-nav flex-row align-items-center">

							<!-- Notification dropdown START -->
							<li class="nav-item ms-2 ms-md-3 dropdown">
								<!-- Notification button -->
								<a class="btn btn-light btn-round mb-0" href="#" role="button" data-bs-toggle="dropdown"
									aria-expanded="false" data-bs-auto-close="outside">
									<i class="bi bi-bell fa-fw"></i>
								</a>
								<!-- Notification dote -->
								<span class="notif-badge animation-blink"></span>

								<!-- Notification dropdown menu START -->
								<div
									class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-0 shadow-lg border-0">
									<div class="card bg-transparent">
										<div
											class="card-header bg-transparent border-bottom py-4 d-flex justify-content-between align-items-center">
											<h6 class="m-0">Notifications</h6>
											<a class="small" href="#">Clear all</a>
										</div>
										<div class="card-body p-0">
											<ul class="list-group list-unstyled list-group-flush">
												<!-- Notif item -->
												<li>
													<a href="#"
														class="list-group-item-action border-0 border-bottom d-flex p-3">
														<div class="me-3">
															<div class="avatar avatar-md">
																<img class="avatar-img rounded-circle"
																	src="assets/images/avatar/08.jpg" alt="avatar">
															</div>
														</div>
														<div>
															<h6 class="mb-1">Larry Lawson Added a new course</h6>

														</div>
													</a>
												</li>

												<!-- Notif item -->
												<li>
													<a href="#"
														class="list-group-item-action border-0 border-bottom d-flex p-3">
														<div class="me-3">
															<div class="avatar avatar-md">
																<img class="avatar-img rounded-circle"
																	src="assets/images/avatar/02.jpg" alt="avatar">
															</div>
														</div>
														<div>
															<h6 class="mb-1">Larry Lawson Added a new course</h6>


														</div>
													</a>
												</li>

												<!-- Notif item -->
												<li>
													<a href="#"
														class="list-group-item-action border-0 border-bottom d-flex p-3">
														<div class="me-3">
															<div class="avatar avatar-md">
																<img class="avatar-img rounded-circle"
																	src="assets/images/avatar/05.jpg" alt="avatar">
															</div>
														</div>
														<div>
															<h6 class="mb-1">New request to apply for Instructor</h6>

														</div>
													</a>
												</li>

												<!-- Notif item -->
												<li>
													<a href="#"
														class="list-group-item-action border-0 border-bottom d-flex p-3">
														<div class="me-3">
															<div class="avatar avatar-md">
																<img class="avatar-img rounded-circle"
																	src="assets/images/avatar/03.jpg" alt="avatar">
															</div>
														</div>
														<div>
															<h6 class="mb-1">Update v2.3 completed successfully</h6>


														</div>
													</a>
												</li>
											</ul>
										</div>
										<!-- Button -->
										<div
											class="card-footer bg-transparent border-0 py-3 text-center position-relative">
											<a href="#" class="stretched-link">See all incoming activity</a>
										</div>
									</div>
								</div>
								<!-- Notification dropdown menu END -->
							</li>
							<!-- Notification dropdown END -->

							<!-- Profile dropdown START -->
							<li class="nav-item ms-2 ms-md-3 dropdown">
								<!-- Avatar -->
								<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button"
									data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown"
									aria-expanded="false">
									<img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg"
										alt="avatar">
								</a>

								<!-- Profile dropdown START -->
								<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
									aria-labelledby="profileDropdown">
									<!-- Profile info -->
									<li class="px-3">
										<div class="d-flex align-items-center">
											<!-- Avatar -->
											<div class="avatar me-3">
												<img class="avatar-img rounded-circle shadow"
													src="assets/images/avatar/01.jpg" alt="avatar">
											</div>
											<div>
												<a class="h6 mt-2 mt-sm-0" href="#">Lori Ferguson</a>
												<p class="small m-0">example@gmail.com</p>
											</div>
										</div>
										<hr>
									</li>

									<!-- Links -->
									<li><a class="dropdown-item" href="#"><i class="bi bi-person fa-fw me-2"></i>내 정보
											관리</a></li>
									<li><a class="dropdown-item" href="my_project_setting.html"><i
												class="bi bi-gear fa-fw me-2"></i>등록한 프로젝트 관리</a></li>
									<li><a class="dropdown-item" href="#"><i class="bi bi-info-circle fa-fw me-2"></i>관심
											프로젝트 목록</a></li>
									<li><a class="dropdown-item bg-danger-soft-hover" href="#"><i
												class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>


								</ul>
								<!-- Profile dropdown END -->
							</li>
							<!-- Profile dropdown END -->
						</ul>
					</div>
					<!-- Top bar right END -->
				</div>
			</div>
		</nav>
		<!-- Logo Nav END -->
	</header>
	<!-- Header END -->

	<!-- **************** MAIN CONTENT START **************** -->
	<main>

		<!-- =======================
Page content START -->
		<section class="pt-5 pb-0">
			<div class="container">
				<div class="row g-0 g-lg-5">

					<!-- Left sidebar START -->
					<div class="col-lg-4">
						<div class="row">
							<div class="col-md-6 col-lg-12">
								<!-- Instructor image START -->
								<div class="card shadow p-2 mb-4 text-center">
									<div class="rounded-3">
										<!-- Image -->
										<img src="assets/images/instructor/07.jpg" class="card-img" alt="course image">
									</div>

									<!-- Card body -->
									<div class="card-body px-3">
										<!-- Rating -->
										<ul class="list-inline">
											<li class="list-inline-item me-0 large" ,><i class="fas fa-heart" ,
													style="color: red;"></i></li>
											<li class="list-inline-item ms-2 h6 fw-light mb-0">17</li>
										</ul>
									</div>
								</div>
								<!-- Instructor image END -->
							</div>

							<div class="col-md-6 col-lg-12">
								<div class="card card-body shadow p-4 mb-4">

									<!-- Education START -->
									<!-- Title -->
									<h4 class="mb-3">자격증</h4>

									<!-- Education item -->
									<div class="d-flex align-items-center mb-4">
										<span class="icon-md text-dark mb-0 bg-light rounded-3"><i
												class="fas fa-id-card"></i></span>
										<div class="ms-3">
											<h6 class="mb-0">자격증이름</h6>
											<p class="mb-0 small">2018</p>
										</div>
									</div>

									<!-- Education item -->
									<div class="d-flex align-items-center mb-4">
										<span class="icon-md text-dark mb-0 bg-light rounded-3"><i
												class="fas fa-id-card"></i></span>
										<div class="ms-3">
											<h6 class="mb-0">자격증이름</h6>
											<p class="mb-0 small">2019</p>
										</div>
									</div>

									<!-- Education item -->
									<div class="d-flex align-items-center mb-4">
										<span class="icon-md text-dark mb-0 bg-light rounded-3"><i
												class="fas fa-id-card"></i></span>
										<div class="ms-3">
											<h6 class="mb-0">자격증이름</h6>
											<p class="mb-0 small">2021</p>
										</div>
									</div>
									<!-- Education END -->



								</div>
							</div>
						</div> <!-- Row End -->
					</div>
					<!-- Left sidebar END -->

					<!-- Main content START -->
					<div class="col-lg-8">
						<!-- Title -->
						<div class="col d-md-flex justify-content-between align-items-center mt-4">
							<h1 class="mb-0">이름</h1>
						</div>
						<!-- Content -->
						<p class="mt-4">입력한 본인 소개가 여기에 보여집니다.입력한 본인 소개가 여기에 보여집니다.입력한 본인 소개가 여기에 보여집니다.입력한 본인 소개가 여기에
							보여집니다.입력한 본인 소개가 여기에 보여집니다.</p>
						<p>입력한 이력들이 여기에 보여집니다.입력한 이력들이 여기에 보여집니다.입력한 이력들이 여기에 보여집니다.입력한 이력들이 여기에 보여집니다.입력한 이력들이 여기에
							보여집니다.입력한 이력들이 여기에 보여집니다.입력한 이력들이 여기에 보여집니다.</p>
						<!-- Personal info -->
						<br>
						<ul class="list-group list-group-borderless">
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i
										class="fas fa-fw fa-user text-primary me-1 me-sm-3"></i>나이:</span>
								<span>22</span>
							</li>
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i
										class="fas fa-fw fa-hashtag text-primary me-1 me-sm-3"></i>MBTI:</span>
								<span>ESTP</span>
							</li>
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i
										class="fas fa-fw fa-certificate text-primary me-1 me-sm-3"></i>원하는 포지션</span>
								<span>개발자</span>
							</li>
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i
										class="fas fa-fw fa-phone text-primary me-1 me-sm-3"></i>연락처</span>
								<span>010-1234-5678</span>
							</li>
						</ul>


						<!-- Personal projects -->
						<p><br><br></p>
						<h4 class="mb-0">최근 진행한 프로젝트</h4>
						<br>
						<ul class="list-group list-group-borderless">
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i class="fas fa-fw fa-map-pin me-1 me-sm-3"></i>프로젝트
									이름</span>
								<span>2019</span>
							</li>
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i class="fas fa-fw fa-map-pin me-1 me-sm-3"></i>프로젝트
									이름</span>
								<span>2019</span>
							</li>
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i class="fas fa-fw fa-map-pin me-1 me-sm-3"></i>프로젝트
									이름</span>
								<span>2019</span>
							</li>
						</ul>

						<!-- Course START -->
						<div class="row g-4 mt-4">
							<!-- Title -->
							<h2>포트폴리오</h2>
							<!-- Card item START -->
							<div class="col-sm-6">
								<div class="card shadow h-100">
									<!-- Card body -->
									<div class="card-body pb-0">
										<!-- Title -->
										<h5 class="card-title fw-normal"><a href="#">포트폴리오 제목</a></h5>
										<p class="mb-2 text-truncate-2">포트폴리오에 대한 간단한 설명이 여기에 입력됩니다.</p>
									</div>
								</div>
							</div>
							<!-- Card item END -->

							<!-- Card item START -->
							<div class="col-sm-6">
								<div class="card shadow h-100">
									<!-- Card body -->
									<div class="card-body pb-0">
										<!-- Title -->
										<h5 class="card-title fw-normal"><a href="#">포트폴리오 제목</a></h5>
										<p class="mb-2 text-truncate-2">포트폴리오에 대한 간단한 설명이 여기에 입력됩니다.</p>
									</div>
								</div>
							</div>
							<!-- Card item END -->
						</div>
						<!-- Course END -->
					</div>
					<!-- Main content END -->

				</div><!-- Row END -->
				<ul></ul>
			</div>
		</section>
		<!-- =======================
Page content END -->

		<!-- =======================


	</main>
	<!-- **************** MAIN CONTENT END **************** -->

		

		<!-- Back to top -->
		<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i>
		</div>

		<!-- Bootstrap JS -->
		<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

		<!-- Vendors -->
		<script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
		<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
		<script src="assets/vendor/aos/aos.js"></script>

		<!-- Template Functions -->
		<script src="assets/js/functions.js"></script>

</body>

</html>